Package: com.flame.removeconfidential
Name: Remove Confidential
Version: 1.0.2
Architecture: iphoneos-arm64
Description: Removes the "Confidential & Proprietary" text from the lockscreen.
Maintainer: Flame
Author: Flame
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
